@font-face {
  font-family: "AvenirBook";
  src: url(./assets/font/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "AvenirBlack";
  src: url(./assets/font/AvenirLTStd-Black.otf);
}

h3 {
  color: #fc9a38;
  font-family: "AvenirBlack";
  font-size: 3vw;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 0%;
}

p {
  font-family: "AvenirBook";
  font-size: 1.5vw;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  h3 {
    font-size: 3vw;
  }

  p {
    font-size: 2vw;
  }
}
